{"openapi":"3.0.0","info":{"title":"Savd APIs Documentation","version":"1.0.0"},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}}},"security":[{"bearerAuth":[]}],"servers":[{"url":"https://api.savd.app/v1","description":"Production server"},{"url":"https://api.savd.dev/v1","description":"Development server"}],"parameters":{"x-transaction-id":{"name":"X-Transaction-ID","in":"header","description":"Transaction correlation identifier.","required":true,"type":"string"}},"paths":{"/annotations":{"get":{"operationId":"annotation:read_all","summary":"Fetch all Annotation","description":"Fetch all annotation for the user","parameters":[{"name":"limit","required":false,"in":"query","description":"Number of resources to be loaded in a single request","default":20,"minimum":1,"schema":{"type":"number"}},{"name":"offset","required":false,"in":"query","description":"Starting point from which resource is to be loaded","default":0,"schema":{"type":"number"}}],"responses":{"200":{"description":""}},"tags":["Annotations"],"depth":1},"post":{"operationId":"annotation:create","summary":"New Annotation","description":"Creates a new annotation in the given bookmark","parameters":[{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"string","description":"Base64 encoded annotation data used to highlight the annotation text","nullable":false},"text":{"type":"string","description":"Annotated text by the user in a bookmark","nullable":false,"example":"My Annotation Text"},"note":{"type":"string","description":"Note attached to the annotation","nullable":false,"example":"My Annotation Note"},"color":{"type":"string","description":"Color of annotation","enum":["YELLOW","PINK","ORANGE","BLUE"],"nullable":false,"default":"YELLOW","example":"BLUE"},"version":{"type":"string","description":"Version of highlighter used to create the annotation data","nullable":false},"source":{"type":"string","description":"Version of highlighter used to create the annotation data","nullable":false},"bookmarkId":{"type":"string","description":"Id of the bookmark","nullable":false}},"required":["data","text","color","version","source","bookmarkId"]}}}},"responses":{"201":{"description":""}},"tags":["Annotations"],"depth":1}},"/annotations/{ids}":{"get":{"operationId":"annotation:read_multiple","summary":"Find Annotation","description":"Find annotation based on the ids","parameters":[{"name":"ids","required":true,"in":"path","description":"Comma separated list of ids","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"tags":["Annotations"],"depth":1}},"/annotations/{id}":{"delete":{"operationId":"annotation:delete","summary":"Delete Annotation","description":"Deletes an existing annotation","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":""}},"tags":["Annotations"],"depth":1},"post":{"operationId":"annotation:update","summary":"Update Annotation","description":"Updates an existing annotation","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"color":{"type":"string","description":"Color of annotation","enum":["YELLOW","PINK","ORANGE","BLUE"]},"note":{"type":"string","description":"Note attached to the annotation","example":"My Annotation Note"}},"required":["color","note"]}}}},"responses":{"201":{"description":""}},"tags":["Annotations"],"depth":1}},"/annotations/{id}/tags":{"post":{"operationId":"annotation:add_tags","summary":"Attach Tags to Annotation","description":"Adds the given tag to the annotation. If no such tag exist, then it is created","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tags":{"description":"List of tag name to attached to the bookmark.If no such tag exist, new tag will be created","nullable":false,"type":"array","items":{"type":"string"}}},"required":["tags"]}}}},"responses":{"201":{"description":""}},"tags":["Annotations"],"depth":1},"delete":{"operationId":"annotation:remove_tags","summary":"Detach Tags from Annotation","description":"Removes the given tag from the annotation.","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tags":{"description":"List of tag name to detached from the bookmark.If the tag doesn't already exist, there will be no effect","nullable":false,"type":"array","items":{"type":"string"}}},"required":["tags"]}}}},"responses":{"200":{"description":""}},"tags":["Annotations"],"depth":1}},"/annotations/tag/{id}":{"get":{"operationId":"annotation:read_tag","summary":"Find Annotation by tag ID","description":"Find annotation based on the associated tag ID","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"limit","required":false,"in":"query","description":"Number of resources to be loaded in a single request","default":20,"minimum":1,"schema":{"type":"number"}},{"name":"offset","required":false,"in":"query","description":"Starting point from which resource is to be loaded","default":0,"schema":{"type":"number"}}],"responses":{"200":{"description":""}},"tags":["Annotations"],"depth":1}},"/bookmarks/import/instapaper":{"post":{"operationId":"import:instapaper","summary":"Import from Instapaper","description":"Import existing bookmark from Instapaper","parameters":[{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"201":{"description":""}},"tags":["Bookmarks"],"depth":1}},"/bookmarks/import/pocket":{"post":{"operationId":"import:pocket","summary":"Import from Pocket","description":"Import existing bookmark from Pocket","parameters":[{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"201":{"description":""}},"tags":["Bookmarks"],"depth":1}},"/bookmarks/bundle":{"get":{"operationId":"bundle:read","summary":"Fetch the user bundle","description":"Fetch all bundle for the user in a paginated format","parameters":[{"name":"order","required":false,"in":"query","description":"Order of sorting bundle items","default":"DESC","schema":{"enum":["ASC","DESC"],"type":"string"}},{"name":"limit","required":false,"in":"query","description":"Number of resources to be loaded in a single request","default":20,"minimum":1,"schema":{"type":"number"}},{"name":"offset","required":false,"in":"query","description":"Starting point from which resource is to be loaded","default":0,"schema":{"type":"number"}}],"responses":{"200":{"description":""}},"tags":["Bookmarks"],"depth":1}},"/bookmarks/bundle/{id}":{"get":{"operationId":"bundle:read_items_read","summary":"Fetch the user bundle","description":"Fetch all bundle for the user in a paginated format","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"order","required":false,"in":"query","description":"Order of sorting bundle items","default":"DESC","schema":{"enum":["ASC","DESC"],"type":"string"}},{"name":"limit","required":false,"in":"query","description":"Number of resources to be loaded in a single request","default":20,"minimum":1,"schema":{"type":"number"}},{"name":"offset","required":false,"in":"query","description":"Starting point from which resource is to be loaded","default":0,"schema":{"type":"number"}}],"responses":{"200":{"description":""}},"tags":["Bookmarks"],"depth":1}},"/bookmarks":{"get":{"operationId":"bookmark:read_all","summary":"Fetch all Bookmarks","description":"Fetch all bookmark for the user","parameters":[{"name":"limit","required":false,"in":"query","description":"Number of resources to be loaded in a single request","default":20,"minimum":1,"schema":{"type":"number"}},{"name":"offset","required":false,"in":"query","description":"Starting point from which resource is to be loaded","default":0,"schema":{"type":"number"}}],"responses":{"200":{"description":""}},"tags":["Bookmarks"],"depth":1},"post":{"operationId":"bookmark:add","summary":"New Bookmark","description":"Creates a new bookmark","parameters":[{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","description":"URL to be bookmark","nullable":false,"example":"https://medium.muz.li/top-5-geometric-fonts-for-modern-ui-6c67bef7e67a"},"title":{"type":"string","description":"User defined title for the bookmark","example":"My Custom Title","nullable":false},"html":{"type":"string","description":"HTML body for the bookmark","nullable":false,"example":"<h1>Some HTML</h1>"}},"required":["url"]}}}},"responses":{"201":{"description":""}},"tags":["Bookmarks"],"depth":1}},"/bookmarks/{ids}":{"get":{"operationId":"bookmark:read_multiple","summary":"Find Bookmarks","description":"Find bookmark based on the ids","parameters":[{"name":"ids","required":true,"in":"path","description":"Comma separated list of ids","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"tags":["Bookmarks"],"depth":1}},"/bookmarks/{ids}/content":{"get":{"operationId":"bookmark:read_content_multiple","summary":"Get content of bookmarks by Ids","description":"Get content of bookmarks by Ids","parameters":[{"name":"ids","required":true,"in":"path","description":"Comma separated list of ids","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"tags":["Bookmarks"],"depth":1}},"/bookmarks/{id}":{"delete":{"operationId":"bookmark:delete","summary":"Delete Bookmark","description":"Deletes an existing bookmark","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":""}},"tags":["Bookmarks"],"depth":1},"post":{"operationId":"bookmark:update","summary":"Update Bookmark","description":"Update the existing bookmark","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Message added to the bookmark for recollection","nullable":true},"title":{"type":"string","description":"Custom title for the bookmark","nullable":true}},"required":["message","title"]}}}},"responses":{"201":{"description":""}},"tags":["Bookmarks"],"depth":1}},"/bookmarks/{id}/like":{"post":{"operationId":"bookmark:like","summary":"Like a Bookmark","description":"Likes a bookmark created by him/her. If already liked, then there is no change","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":""}},"tags":["Bookmarks"],"depth":1}},"/bookmarks/{id}/unlike":{"post":{"operationId":"bookmark:unlike","summary":"Unlike a Bookmark","description":"Unlikes a bookmark created by him/her. If already unliked, then there is no change","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":""}},"tags":["Bookmarks"],"depth":1}},"/bookmarks/{id}/archive":{"post":{"operationId":"bookmark:archive","summary":"Archives a Bookmark","description":"Archives a bookmark created by him/her. If already archived, then there is no change","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":""}},"tags":["Bookmarks"],"depth":1}},"/bookmarks/{id}/unarchive":{"post":{"operationId":"bookmark:unarchive","summary":"UnArchives a Bookmark","description":"UnArchives a bookmark created by him/her. If already unarchived, then there is no change","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":""}},"tags":["Bookmarks"],"depth":1}},"/bookmarks/{id}/add-tags":{"post":{"operationId":"bookmark:add_tags","summary":"Attach Tags to Bookmark","description":"Adds the given tag to the bookmark. If no such tag exist, then it is created","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tags":{"description":"List of tag name to attached to the bookmark.If no such tag exist, new tag will be created","nullable":false,"type":"array","items":{"type":"string"}}},"required":["tags"]}}}},"responses":{"201":{"description":""}},"tags":["Bookmarks"],"depth":1}},"/bookmarks/{id}/remove-tags":{"post":{"operationId":"bookmark:remove_tags","summary":"Detach Tags from Bookmark","description":"Removes the given tag from the bookmark.","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tags":{"description":"List of tag name to detached from the bookmark.If the tag doesn't already exist, there will be no effect","nullable":false,"type":"array","items":{"type":"string"}}},"required":["tags"]}}}},"responses":{"201":{"description":""}},"tags":["Bookmarks"],"depth":1}},"/tags":{"get":{"operationId":"tag:read_all","summary":"Fetch all Tag","description":"Fetch all tag for the user","parameters":[{"name":"limit","required":false,"in":"query","description":"Number of resources to be loaded in a single request","default":20,"minimum":1,"schema":{"type":"number"}},{"name":"offset","required":false,"in":"query","description":"Starting point from which resource is to be loaded","default":0,"schema":{"type":"number"}}],"responses":{"200":{"description":""}},"tags":["Tags"],"depth":1},"post":{"operationId":"tag:add","summary":"Create Tag","description":"Creates a new tag","parameters":[{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name of the tag","nullable":false,"example":"World"},"iconUrl":{"type":"string","description":"URL of the custom icon","nullable":false},"parent":{"type":"string","description":"Id of the parent tag so that the newly created tag can be child of this tag.If null, then tag willbe a root tag"}},"required":["name","iconUrl","parent"]}}}},"responses":{"201":{"description":""}},"tags":["Tags"],"depth":1}},"/tags/{ids}":{"get":{"operationId":"tag:read_multiple","summary":"Find Tag","description":"Find tag based on the ids","parameters":[{"name":"ids","required":true,"in":"path","description":"Comma separated list of ids","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"tags":["Tags"],"depth":1}},"/tags/{id}":{"post":{"operationId":"tag:update","summary":"Update Tag","description":"Update an existing tag","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name of the tag","nullable":false,"example":"World"},"iconUrl":{"type":"string","description":"URL of the custom icon","nullable":false}},"required":["name","iconUrl"]}}}},"responses":{"201":{"description":""}},"tags":["Tags"],"depth":1},"delete":{"operationId":"tag:delete","summary":"Delete Tag","description":"Deletes a tag. If it as child tag, then those will also get deleted","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":""}},"tags":["Tags"],"depth":1}},"/tags/{id}/move":{"post":{"operationId":"tag:move","summary":"Move Tag","description":"Move the tag position in the tag hierarchy. The tag can be made a root tag or child of some othertag","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"parent":{"type":"string","description":"Id of the parent tag so that the newly created tag can be child of this tag.If null, then the tagbecomes a root tag"}},"required":["parent"]}}}},"responses":{"201":{"description":""}},"tags":["Tags"],"depth":1}},"/reminders":{"get":{"operationId":"reminder:read_all","summary":"Fetch all Reminder","description":"Fetch all reminder for the user","parameters":[{"name":"limit","required":false,"in":"query","description":"Number of resources to be loaded in a single request","default":20,"minimum":1,"schema":{"type":"number"}},{"name":"offset","required":false,"in":"query","description":"Starting point from which resource is to be loaded","default":0,"schema":{"type":"number"}}],"responses":{"200":{"description":""}},"tags":["Reminders"],"depth":1},"post":{"operationId":"reminder:create","summary":"New Reminder","description":"Creates a new reminder in the given bookmark","parameters":[{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"date":{"format":"date-time","type":"string","description":"Date and time on which user is to be reminded in RFC 3339 format"},"timezone":{"type":"string","description":"Timezone in which user would like the reminder to be notified.If no timezone is provided. this willnotify based on the current timezone the user is in"},"isRecurring":{"type":"boolean","description":"Defines if the reminder is recurring"},"bookmarkId":{"type":"string","description":"Id of the bookmark where reminded needs to be added"},"lang":{"type":"string","description":"Language in which message is defined"},"mmNotifyOffset":{"type":"number","description":"Time before which user is to be notified of this event"},"notifyType":{"type":"string","description":"Type of notification user would like to have"},"string":{"type":"string","description":"Reminder message"}},"required":["date","bookmarkId","lang","notifyType","string"]}}}},"responses":{"201":{"description":""}},"tags":["Reminders"],"depth":1}},"/reminders/{ids}":{"get":{"operationId":"reminder:read_multiple","summary":"Find Reminder","description":"Find reminder based on the ids","parameters":[{"name":"ids","required":true,"in":"path","description":"Comma separated list of ids","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"tags":["Reminders"],"depth":1}},"/reminders/{id}":{"delete":{"operationId":"reminder:delete","summary":"Delete Reminder","description":"Deletes an existing reminder","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":""}},"tags":["Reminders"],"depth":1},"post":{"operationId":"reminder:update","summary":"Update Reminder","description":"Updates an existing reminder","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"date":{"format":"date-time","type":"string","description":"Date and time on which user is to be reminded in RFC 3339 format"},"timezone":{"type":"string","description":"Timezone in which user would like the reminder to be notified.If no timezone is provided. this willnotify based on the current timezone the user is in"},"mmNotifyOffset":{"type":"number","description":"Time before which user is to be notified of this event"},"notifyType":{"type":"string","description":"Type of notification user would like to have"}},"required":["notifyType"]}}}},"responses":{"201":{"description":""}},"tags":["Reminders"],"depth":1}},"/sync":{"post":{"operationId":"tag:update","summary":"Update Tag","description":"Update an existing tag","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"syncToken":{"type":"string","description":"Sync Token to identify client current sync status"},"resources":{"description":"Resources to be fetched","type":"array","items":{"type":"string"}},"commands":{"description":"Commands to be executed. The argument will be same as the rest api counterpart except here the args will contain resource id whenever required","type":"array","items":{"type":"object","properties":{"syncId":{"type":"string","description":"Idempotency Key for the command. Same as Idempotency Key in the Rest API"},"tempId":{"type":"string","description":"Temporary id used by the client to create the resource"},"action":{"type":"string","description":"Type of action to be performed","enum":["bookmark:add","bookmark:delete","bookmark:update","bookmark:like","bookmark:unlike","bookmark:archive","bookmark:unarchive","bookmark:add_tags","bookmark:remove_tags","annotation:add","annotation:update","annotation:delete","tag:add","tag:update","tag:move","tag:delete","reminder:add","reminder:update","reminder:delete","filter:save","filter:delete"]},"args":{"type":"object","description":"Parameters for the command"}},"required":["syncId","action","args"]}}},"required":["syncToken","resources","commands"]}}}},"responses":{"201":{"description":""}},"tags":["Sync"],"depth":1}},"/bookmarks/filter/available":{"get":{"operationId":"filter:available-filter","summary":"Fetch all the available filter","description":"Fetch all the available filter","parameters":[],"responses":{"200":{"description":""}},"tags":["Filters"],"depth":1}},"/bookmarks/filter/apply":{"get":{"operationId":"filter:query","summary":"Fetch bookmark based on the filter","description":"Fetch all bookmark matching the filter","parameters":[{"name":"tags","required":false,"in":"query","description":"Comma separated list of tag ids","schema":{"type":"string"}},{"name":"publishers","required":false,"in":"query","description":"Comma separated list of publisher ids","schema":{"type":"string"}},{"name":"liked","required":false,"in":"query","description":"Like flag for the article","default":null,"schema":{"enum":["LIKED"],"type":"string"}},{"name":"archived","required":false,"in":"query","description":"Archive status for the article","default":"ALL","schema":{"enum":["ONLY_NOT_ARCHIVED","ALL","ONLY_ARCHIVED"],"type":"string"}},{"name":"sortBy","required":false,"in":"query","description":"Property on which articles should be sorted","default":"TIME_ADDED_NEWEST_FIRST","schema":{"enum":["TIME_ADDED_NEWEST_FIRST","TIME_ADDED_OLDEST_FIRST","READ_TIME_SHORTEST_FIRST","READ_TIME_LONGEST_FIRST"],"type":"string"}},{"name":"limit","required":false,"in":"query","description":"Number of resources to be loaded in a single request","default":20,"minimum":1,"schema":{"type":"number"}},{"name":"offset","required":false,"in":"query","description":"Starting point from which resource is to be loaded","default":0,"schema":{"type":"number"}}],"responses":{"200":{"description":""}},"tags":["Filters"],"depth":1}},"/bookmarks/filter/apply/{id}":{"get":{"operationId":"filter:query-saved-filter","summary":"Fetch bookmark based on a saved filter by ID","description":"Fetch bookmark based on a saved filter by ID","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"limit","required":false,"in":"query","description":"Number of resources to be loaded in a single request","default":20,"minimum":1,"schema":{"type":"number"}},{"name":"offset","required":false,"in":"query","description":"Starting point from which resource is to be loaded","default":0,"schema":{"type":"number"}}],"responses":{"200":{"description":""}},"tags":["Filters"],"depth":1}},"/bookmarks/filter/save":{"post":{"operationId":"filter:save","summary":"Save filter created by user","description":"Save filter created by user","parameters":[{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tags":{"type":"string","description":"Comma separated list of tag ids"},"publishers":{"type":"string","description":"Comma separated list of publisher ids"},"liked":{"type":"string","enum":["LIKED"],"description":"Like flag for the article","default":null},"archived":{"type":"string","enum":["ONLY_NOT_ARCHIVED","ALL","ONLY_ARCHIVED"],"description":"Archive status for the article","default":"ALL"},"sortBy":{"type":"string","enum":["TIME_ADDED_NEWEST_FIRST","TIME_ADDED_OLDEST_FIRST","READ_TIME_SHORTEST_FIRST","READ_TIME_LONGEST_FIRST"],"description":"Property on which articles should be sorted","default":"TIME_ADDED_NEWEST_FIRST"},"name":{"type":"string","description":"Name of filter to be saved"}},"required":["name"]}}}},"responses":{"201":{"description":""}},"tags":["Filters"],"depth":1}},"/bookmarks/filter/all":{"get":{"operationId":"filter:get","summary":"Get filter saved by user","description":"Get filter saved by user","parameters":[{"name":"limit","required":false,"in":"query","description":"Number of resources to be loaded in a single request","default":20,"minimum":1,"schema":{"type":"number"}},{"name":"offset","required":false,"in":"query","description":"Starting point from which resource is to be loaded","default":0,"schema":{"type":"number"}}],"responses":{"200":{"description":""}},"tags":["Filters"],"depth":1}},"/bookmarks/filter/{ids}":{"get":{"operationId":"filter:read_multiple","summary":"Get filters for a user by ids","description":"Get filters for a user by ids","parameters":[{"name":"ids","required":true,"in":"path","description":"Comma separated list of ids","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"tags":["Filters"],"depth":1}},"/bookmarks/filter/{id}":{"delete":{"operationId":"filter:delete","summary":"Delete Saved Filter","description":"Deletes a saved filter","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"Unique key to identify the request","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":""}},"tags":["Filters"],"depth":1}},"/icons":{"get":{"operationId":"icons:fetch-general","summary":"Fetch all the general icons","description":"Fetch all the general icons","parameters":[],"responses":{"200":{"description":""}},"tags":["Icons"],"depth":1}}}}